<div class="row">
  <div class="col text-center">
    <img class="ahorcado-img" src="assets\img\img\{{intentos}}.png"  alt="">
    <h3>intentos <small>{{intentos}}/9</small></h3>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <h1>{{palabraOculta}}</h1>
    
  </div>
</div>
 
<div class="row" *ngIf="gano">
    <div class="col text-center">
    <h1>Felicidades ganaste!!!</h1>
    <h4>:D</h4>
  </div>
</div>
<div class="row" *ngIf="perdio">
  <div class="col text-center">
    <h1>Lo siento, perdiste...</h1>
    <h4>{{palabra}}</h4>
  </div>
</div>

<div class="row" *ngIf="(!perdio && !gano)">
  <div class="col text-center">
    <button (click)="comprobar(letra)" *ngFor="let letra of letras" class="btn btn-primary">{{letra}}</button>    
  </div>
</div>

